* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  position: absolute;
  display: flex;
  padding: 10px;
  flex-direction: row;
  height: auto;
  width: 100vw;
  background-color: rgb(16, 29, 49);
  z-index: 100;
  bottom: 0;
  justify-content: center;
}
.footer:hover {
  cursor: pointer;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 255) -6px -2px 16px 0px;
}
